@import 'variables';

.courses {
    padding-top: $header-height;
    padding-bottom: 50px;

    &__header {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 0 10px;
        background-color: $gray-background;
    }

    &__content {
        padding: 10px;
    }

    &__load-more-container {
        display: flex;
        justify-content: center;
    }

    &__load-more {
        display: inline-block;
        width: 90%;
    }

    &__course-item {
        padding-top: $header-height;
     }
}
