<article class="courses">
    <div class="courses__header">
        <app-breadcrumbs></app-breadcrumbs>
        <app-controls></app-controls>
    </div>
    <div class="courses__content">
        <app-course-item 
        (deleteCourse)="onDeleteCourse($event)" 
        class="courses__course-item" 
        *ngFor="let course of courses" 
        [course]="course">
    </app-course-item>
    </div>
    <div class="courses__load-more-container">
        <button (click)="onLoadMore()" mat-raised-button class="courses__load-more">LOAD MORE</button>
    </div>
</article>