<section class="course">
    <div class="course__logo-wrapper">
        <img [src]="course.imageUrl" [alt]="course.title + ' logo'" class="course__logo">
    </div>
    <div class="course__content">
        <h3 class="course__title">{{course.title}}</h3>
        <p class="course__description">{{course.description}}</p>
        <div class="course-info">
            <i class="course__info-item">{{duration}}</i>
            <i class="course__info-item">{{date}}</i>
        </div>
    </div>
    <div class="course__controls">
        <button mat-raised-button class="course__button">Edit</button>
        <button (click)="onDeleteCourse()" mat-raised-button class="course__button">Delete</button>
    </div>
</section>