@import 'variables';

.course {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

    &__title  {
        margin: 10px 0;
        text-align: center;
    }

    &__logo-wrapper {
        display: flex;
        align-items: center;
        padding: 0 10px;
        text-align: center;
    }

    &__logo {
        max-width: 120px;
    }

    &__content {
        flex-basis: 400px;
        flex-grow: 6;
        max-width: 75%;
        min-width: 400px;
        padding: 0 10px;
    }

    &__description {
        padding: 0 10px;
        text-align: justify;
    }

    &__controls {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-basis: 50px;
        flex-grow: 2;
        padding: 0 10px;
    }

    &__button {
        display: block;
        width: 50px;
        margin: 5px;
    }

    &__course-info {
        text-align: center;
    }

    &__info-item {
        display: inline-block;
        padding: 2px;
        margin: 0 5px;
        background: $gray-background;
    }
}

:host:not(:last-child) .course { // sass-lint:disable-line force-element-nesting force-pseudo-nesting
    border-bottom: solid 2px #44434433;
}
