<mat-toolbar color="primary" class="header">
    <div class="header__logo-container">
        <img src="assets/logo.png" alt="logo image" class="header__logo-image">
    </div>
    <h3 class="header__app-name mat-h2">Angular Global Mentoring Program 2018</h3>
    <div class="header__login">
        <span class="header__login-item mat-body-strong">user login</span>
        <button mat-button class="header__login-item">Log Off</button>
    </div>
</mat-toolbar>
