@import 'variables';

$header-background: #0f256e;
$header-logo-background: #0d1e54;
$header-text-color: #ddd;

.header {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: auto;
    z-index: 1;
    background-color: $header-background;
    color: $header-text-color;
    border-radius: 5px;

    &__logo-container {
        height: $header-height;
        background-color: #0d1e54;
        border-radius: 30%;
        padding: 2px 5px;
    }

    &__logo-image {
        max-height: 100%;
    }

    &__login-item {
        margin: 0 4px;
    }

    &__app-name {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
