<div class="controls">
    <mat-form-field class="controls__form-element">
        <input
            matInput
            type="text"
            class="controls__search mat-small"
            placeholder="Name, fragment, date"
            [(ngModel)]="searchQuery"
            (change)="find()">
        <button
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Search"
            (click)="find()">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>

    <button
        mat-raised-button
        class="controls__form-element">
            Add course
        </button>
</div>
